* {
    margin: 0; 
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

.container {
    width: 80%;
    max-width: 100%;
   
    margin: 0 auto;
}

.input {
    margin-top: 40px;
    font-size: 20px;
    border: 3px solid yellow;
    padding: 5px 10px 5px 10px;
    border-radius: 15px;

}
.sectionWrapper {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}
body {
    background-color: black;
}

.select {   
    border: none;
    background-color: yellow;
    border-radius: 15px;
    color: black;
    padding: 10px 10px 10px 10px;
}


.select2 {   
    border: none;
    background-color: yellow;
    border-radius: 15px;
    color: black;
    padding: 10px 10px 10px 10px;
}


